.weather-info-wrapper {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.weather-info-box {
    display: inline;
}

.weather-info-box h4 {
    color: orange;
    width: 300px;
}

.good {
    color: green;
    font-size: 22px;
}

.fair {
    color: greenyellow;
    font-size: 22px;
}

.moderate {
    color: orange;
    font-size: 22px;
}

.poor {
    color: orangered;
    font-size: 22px;
}

.very-poor {
    color: red;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .weather-info-wrapper {
        display: block;
        margin-left: 40px;
    }
}