.weather-info-wrapper {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
}

.weather-info-box {
    display: inline;
    width: 320px;
}

.weather-info-box h4 {
    color: var(--details-color);
}

.weather-info-box a {
    font-size: 18px;
    color: var(--main-white-color);
}

.good {
    color: var(--air-quality-good-color);
    font-size: 22px;
}

.fair {
    color: var(--air-quality-fair-color);
    font-size: 22px;
}

.moderate {
    color: var(--air-quality-moderate-color);
    font-size: 22px;
}

.poor {
    color: var(--air-quality-poor-color);
    font-size: 22px;
}

.very-poor {
    color: var(--air-quality-very-poor-color);
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .weather-info-wrapper {
        display: block;
        margin-left: 40px;
    }
}

.air-pollution-info {
    margin-right: 5px;
}


.air-pollution-info:hover {
    cursor: pointer;
}