.center {
    display: flex;
    justify-content: center;
}

.input-wrapper {
    padding: 15px 30px;
    min-width: 200px;
    border-radius: 5%;
    margin-top: 20px;
    box-shadow: 2px 3px 20px rgba(162, 194, 194, 0.54);
}

.input-box {
    margin-top: -10px;
}

.input-box p {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 150px;
}

.input-box input {
    width: 85px;
}

.input-button {
    font-size: 18px;
    font-family: 'Yuji Syuku', serif;
    color: var(--main-white-color);
    border-color: var(--main-white-color);
    transition: 0.2s ease-out !important;
    background-color: black;
    padding: 3px 8px;
    border-radius: 10%;
    margin-top: 10px;
}

.input-button:hover {
    transform: scale(1.05) !important;
    cursor: pointer;
}