.home {
    color: var(--main-white-color);
    font-size: 18px;
    font-family: 'Yuji Syuku', serif;
}

.info {
    text-align: center;
}

.info span {
    color: var(--redirect-color);
    font-size: 18px;
}