.footer p {
    font-size: 0.9rem;
    text-align: center;
    color: rgba(193, 218, 219, 0.643);
}

.footer {
    width: 100%;
    height: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer b {
    color: rgba(177, 203, 204, 0.63);
}